//---------------------------------------------------------------------------
//
// Name:        EdytorApp.rc
// Author:      Mateusz "Mefioo" Knapczyk
// Created:     2013-01-19 11:44:29
// Description: 
//
//---------------------------------------------------------------------------

#include <wx/msw/wx.rc>
